@import "./variable.styl"
@import "./mixin.styl"

.swiper-container .dots
  position: absolute
  left: 0
  right: 12px
  bottom: 10px
  display: flex
  justify-content: center

.swiper-container .dots .dot
  width: 5px
  height: 5px
  margin: 0 2.5px
  border-radius: 50%
  transition: all .6s

.swiper-container .dots .dot.active
  width: 12.5px

.full-image
  width: 100%
  height: 100%

.line-title
  position: relative
  text-align: center
  font-size: $font-size-large !important

// 宠物
.pet
  color: $color-pet-theme !important
  border: 0.5px solid $color-pet-theme !important

.pet-bg
  background: $color-pet-theme !important
  opacity: 1

.pet-text
  color: $color-pet-theme !important

.pet-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-pet-theme !important

.pet-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-pet-theme
  border-radius: 2px 0 0 2px

.line-pet
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-pet-theme !important

.pet-opacity
  color: $color-pet-theme !important
  background: $color-pet-opacity !important

//健身
.excercise
  color: $color-excercise-theme !important
  border: 0.5px solid $color-excercise-theme !important

.excercise-bg
  background: $color-excercise-theme !important
  opacity: 1

.excercise-text
  color: $color-excercise-theme !important

.excercise-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-excercise-theme !important

.excercise-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-excercise-theme
  border-radius: 2px 0 0 2px

.line-excercise
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-excercise-theme !important

.excercise-opacity
  color: $color-excercise-theme !important
  background: $color-excercise-opacity !important

//教育
.study
  color: $color-study-theme !important
  border: 0.5px solid $color-study-theme !important

.study-bg
  background: $color-study-theme !important
  opacity: 1

.study-text
  color: $color-study-theme !important

.study-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-study-theme !important

.study-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-study-theme
  border-radius: 2px 0 0 2px

.line-study
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-study-theme !important

.study-opacity
  color: $color-study-theme !important
  background: $color-study-opacity !important

//美业
.beauty
  color: $color-beauty-theme !important
  border: 0.5px solid $color-beauty-theme !important

.beauty-bg
  background: $color-beauty-theme !important
  opacity: 1

.beauty-text
  color: $color-beauty-theme !important

.beauty-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-beauty-theme !important

.beauty-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-beauty-theme
  border-radius: 2px 0 0 2px

.line-beauty
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-beauty-theme !important

.beauty-opacity
  color: $color-beauty-theme !important
  background: $color-beauty-opacity !important

//母婴
.baby
  color: $color-baby-theme !important
  border: 0.5px solid $color-baby-theme !important

.baby-bg
  background: $color-baby-theme !important
  opacity: 1

.baby-text
  color: $color-baby-theme !important

.baby-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-baby-theme !important

.baby-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-baby-theme
  border-radius: 2px 0 0 2px

.line-baby
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-baby-theme !important

.baby-opacity
  color: $color-baby-theme !important
  background: $color-baby-opacity !important

//汽车
.car
  color: $color-car-theme !important
  border: 0.5px solid $color-car-theme !important

.car-bg
  background: $color-car-theme !important
  opacity: 1

.car-text
  color: $color-car-theme !important

.car-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-car-theme !important

.car-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-car-theme
  border-radius: 2px 0 0 2px

.line-car
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-car-theme !important

.car-opacity
  color: $color-car-theme !important
  background: $color-car-opacity !important

//ktv
.ktv
  color: $color-ktv-theme !important
  border: 0.5px solid $color-ktv-theme !important

.ktv-bg
  background: $color-ktv-theme !important
  opacity: 1

.ktv-text
  color: $color-ktv-theme !important

.ktv-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-ktv-theme !important

.ktv-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-ktv-theme
  border-radius: 2px 0 0 2px

.line-ktv
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-ktv-theme !important

.ktv-opacity
  color: $color-ktv-theme !important
  background: $color-ktv-opacity !important

//餐饮
.restaurant
  color: $color-restaurant-theme !important
  border: 0.5px solid $color-restaurant-theme !important

.restaurant-bg
  background: $color-restaurant-theme !important
  opacity: 1

.restaurant-text
  color: $color-restaurant-theme !important

.restaurant-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-restaurant-theme !important

.restaurant-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-restaurant-theme
  border-radius: 2px 0 0 2px

.line-restaurant
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-restaurant-theme !important

.restaurant-opacity
  color: $color-restaurant-theme !important
  background: $color-restaurant-opacity !important

//零售
.retail
  color: $color-retail-theme !important
  border: 0.5px solid $color-retail-theme !important

.retail-bg
  background: $color-retail-theme !important
  opacity: 1

.retail-text
  color: $color-retail-theme !important

.retail-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-retail-theme !important

.retail-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-retail-theme
  border-radius: 2px 0 0 2px

.line-retail
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-retail-theme
    background: $color-restaurant-theme !important

.retail-opacity
  color: $color-retail-theme !important
  background: $color-retail-opacity !important

//摄影
.photograph
  color: $color-photograph-theme !important
  border: 0.5px solid $color-photograph-theme !important

.photograph-bg
  background: $color-photograph-theme !important
  opacity: 1

.photograph-text
  color: $color-photograph-theme !important

.photograph-border
  &:before
    content : ''
    width: 30px
    height: 2px
    position: absolute
    left: 50%
    transform :translateX(-50%)
    bottom: 0px
    background :$color-photograph-theme !important

.photograph-coupon
  width: 3.35px
  height: 100%
  position: absolute
  left: 0
  top: 0px
  background: $color-photograph-theme
  border-radius: 2px 0 0 2px

.line-photograph
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    width: 2px
    height: 14px
    content: ''
    background: $color-photograph-theme !important

.photograph-opacity
  color: $color-photograph-theme !important
  background: $color-photograph-opacity !important
