// 颜色定义规范
$color-background = #f1f1f1
$color-background-d = rgba(255, 255, 255, 0.3)
$color-highlight-background = #fff
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(0, 0, 0, 0.8)
$color-text-l = #b1b1b1
$color-text-ll = rgba(0, 0, 0, 0.3)
$color-background-s = #ffffff
$color-font1 = #464646 //字体颜色
$color-theme-s =  #FF4E00 //地图页面优惠券
$color-theme-title = #696671 //地图优惠券颜色
$color-border-s = #E5E5E5 //边框颜色
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

$font-size-title = 28px
$font-size-uss = 20px
$font-size-btitle = 32px
$font-size-mtitle = 24px

//地图页面颜色定义
$color-add-background = #F9F9F9

// 颜色定义规范
$color-theme = #706b82
$color-split-line = #f1eff5
$color-background = #f9f9f9

$color-circle = #5E5A70
$color-text-t = #FF4E00

// 文字颜色
$color-text = #464646  // 文字色1
$color-text-d = #696671  // 文字色2
$color-text-tr = #b6b6b6 // 文字色3
$color-text-dd = #3f3f3f  // 灰色
$color-text-ll = #9C9BAE // 浅灰色
$color-text-g = #ffda4f // 金色字体
$color-text-transwhite = rgba(255,255,255,.7) // 红包字体

$color-assist-f = #DADADA  //辅助色1
$color-assist-tw = #00C350  //辅助色1
$color-assist-tr = #FF4E00  //辅助色1

//主色调
$color-master = #706B82
$color-master-gray = #F9F9F9//主色调2
// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #00c350 // 绿色
$color-orange = #ff4e00 // 橙色
$color-orange-d = #f04f35  // 红包橙
$color-yellow = #fdfb00 // 黄色
$color-background-s = #ffffff

// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .5)

//// 横线色值
$color-row-line = #F0EFF5
//// 竖线色值
$color-col-line = #F0EFF5

//字体定义规范
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-m = 'PingFangSC-Medium'

$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-l = 21px
$font-size-large-xx = 24px

//边距
$padding-all = 12px


