// 颜色定义规范
$color-background = #F9F9F9
$color-background-d = rgba(255, 255, 255, 0.3)
$color-highlight-background = #fff
$color-theme = #FF4E00
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #464646
$color-text-t = #FF4E00
$color-text-dd = #3f3f3f
$color-text-d = #696671
$color-text-l = #b1b1b1
$color-text-ll = #3f3f3f

$color-circle = #5E5A70

// 标准色
$color-white = #ffffff
$color-yellow = #fadf5c

//// 横线色值
$color-row-line = #F0EFF5
//// 竖线色值
$color-col-line = #F0EFF5

// 按钮颜色
$color-button = #706B82

// ellipse
$color-ellipse = #4A4657

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-x = 22px
$font-size-large-xx = 24px
